
body {
  background-color: #EAF6F6;
  font-size: 1.2rem;
}

hr {
  border-style: dotted none none;
  width: 3%;
  border-color: grey;
  border-width: 6px;
}
#profile
{
  border-radius:100%;
}
.name
{
  color:orange;
}
img {
  height:200px;
  width: 200px;
}

h1 {
  color: #66BFBF;
}


h3 {
  color: #66BFBF;
}

h4 {
  color: orange;
}
